div#data-list.list-group
  a#data-list-header.list-group-item.py-1 
  each type, index in sensorTypes
    a.data-list-group.list-group-item.list-group-item-action.py-1 #{type.sensorType}
    div(id=type.sensorType).data-list-group
      each val, index in sensorData
        if val.sensorType == type.sensorType
          a(href='#' + val.sensorID + '-chart-div').data-list-item.list-group-item.hover.list-group-item-action.py-1 #{val.sensorLocation} @ #{val.logTime} #[br] #[span.sensor-data #{val.data} #{val.sensorUnits}]
  a#data-list-header.list-group-item.py-1
br
div#chart-container
  each val, index in sensorData
    div(id=val.sensorID + '-chart-div').chart-div
      a#data-list-header.list-group-item.py-1 
      h5 #{val.sensorType} @ #{val.sensorLocation}
      canvas(id=val.sensorID + '-canvas')
      script.
        window.onload = generateChart("#{val.sensorID}", "#{val.sensorUnits}", !{JSON.stringify(last12[val.sensorID])}, "#{val.sensorType}")  
      a#data-list-header.list-group-item.py-1 
    br  
                
