
div.scheduleContainer.table-responsive-sm.rounded
    table.table.table-sm.table-borderless.scheduleTable.rounded
      thead.scheduleTableHeader 
        tr
          th(scope="col") Time
          th(scope="col") Event
      tbody.scheduleTableBody
      each schedule, index in scheduleData
        if schedule.scheduleType == 'Time'
          tr(data-toggle="modal" data-target="#updateScheduleModal" data-scheduleid=schedule.scheduleID).scheduleTableRow
            td.align-middle #{schedule.eventTriggerTime}
            if(schedule.outputValue != null && schedule.outputValue != '0')
              td.align-middle.schedule-data #{schedule.outputName}  #[spawn.blue #{schedule.eventDescription}] - #[span.green #{schedule.outputValue}%]
            else  
              td.align-middle.schedule-data #{schedule.outputName} #[span.blue #{schedule.eventDescription}]
    div.scheduleContainer.table-responsive-sm.rounded
      table.table.table-sm.table-borderless.scheduleTable.rounded
        thead.scheduleTableHeader 
          tr
            th(scope="col") Event
            th(scope="col") Sensor
            th(scope="col") Limit
        tbody.scheduleTableBody
        each schedule, index in scheduleData
          if schedule.scheduleType == 'Sensor'
            tr(data-toggle="modal" data-target="#updateScheduleModal" data-scheduleid=schedule.scheduleID).scheduleTableRow
              if(schedule.outputValue != null && schedule.outputValue != '0')
                td.align-middle #{schedule.outputName}<br> #[span.blue #{schedule.eventDescription}] - #[span.green #{schedule.outputValue}%]
              else  
                td.align-middle #{schedule.outputName}<br>#[span.blue #{schedule.eventDescription}]
              td.align-middle #{schedule.sensorType} @<br> #{schedule.sensorLocation}
              td.align-middle.green #{schedule.scheduleComparator} #{schedule.sensorValue}#{schedule.sensorUnits}            
div
  button(id="addEventButton" type="button" data-toggle="modal" data-target="#newScheduleModal").btn Add Event

include ./addEvent.pug
            
include ./updateEvent.pug
          
