
div.card.schedule-card
  div.scheduleContainer.table-responsive-sm.rounded
      table.table.table-sm.table-borderless.scheduleTable.rounded
        thead.scheduleTableHeader 
          tr
            th(scope="col") Time
            th(scope="col") Event
        tbody.scheduleTableBody
        each schedule, index in scheduleData
          if schedule.scheduleType == 'Time'
            tr(data-toggle="modal" data-target="#updateScheduleModal" data-scheduleid=schedule.scheduleID).scheduleTableRow
              td.align-middle #{schedule.eventTriggerTime}
              if(schedule.outputPWM == 1)
                if(schedule.eventName == 'Output Off')
                  td.align-middle.schedule-data #{schedule.outputName}  #[spawn.blue #{schedule.eventDescription}]
                else
                  td.align-middle.schedule-data #{schedule.outputName}  #[spawn.blue #{schedule.eventDescription}] - #[span.green #{schedule.outputValue}%]
              else  
                td.align-middle.schedule-data #{schedule.outputName} #[span.blue #{schedule.eventDescription}]
br                
div.card.schedule-card
  div.scheduleContainer.table-responsive-sm.rounded
    table.table.table-sm.table-borderless.scheduleTable.rounded
      thead.scheduleTableHeader 
        tr
          th(scope="col") Sensor
          th(scope="col") Limit
          th(scope="col") Event
      tbody.scheduleTableBody
      each schedule, index in scheduleData
        if schedule.scheduleType == 'Sensor'
          tr(data-toggle="modal" data-target="#updateScheduleModal" data-scheduleid=schedule.scheduleID).scheduleTableRow
            td.align-middle #{schedule.sensorType} @<br> #{schedule.sensorLocation}
            td.align-middle.green #{schedule.scheduleComparator} #{schedule.sensorValue}#{schedule.sensorUnits}            
            if(schedule.outputPWM == 1)
              if(schedule.eventName == 'Output Off')
                td.align-middle.schedule-data #{schedule.outputName}<br>  #[spawn.blue #{schedule.eventDescription}]
              else
                td.align-middle.schedule-data #{schedule.outputName}<br>  #[spawn.blue #{schedule.eventDescription}] - #[span.green #{schedule.outputValue}%]
            else  
              td.align-middle.schedule-data #{schedule.outputName}<br> #[span.blue #{schedule.eventDescription}]
br                
div.card.schedule-card
  div.scheduleContainer.table-responsive-sm.rounded
    table.table.table-sm.table-borderless.scheduleTable.rounded
      thead.scheduleTableHeader 
        tr
          th(scope="col") Duration
          th(scope="col") Repeat Interval
          th(scope="col") Event
      tbody.scheduleTableBody
      each schedule, index in scheduleData
        if schedule.scheduleType == 'Periodic'
          tr(data-toggle="modal" data-target="#updateScheduleModal" data-scheduleid=schedule.scheduleID).scheduleTableRow
            td.align-middle #{schedule.eventDuration} minute(s)
            td.align-middle #{schedule.eventInterval} minute(s)
            if(schedule.outputPWM == 1)
              if(schedule.eventName == 'Output Off')
                td.align-middle.schedule-data #{schedule.outputName}<br>  #[spawn.blue #{schedule.eventDescription}]
              else
                td.align-middle.schedule-data #{schedule.outputName}<br>  #[spawn.blue #{schedule.eventDescription}] - #[span.green #{schedule.outputValue}%]
            else  
              td.align-middle.schedule-data #{schedule.outputName}<br> #[span.blue #{schedule.eventDescription}]
br
div
  button(id="addEventButton" type="button" data-toggle="modal" data-target="#newScheduleModal").btn Add Event

          
